@tailwind base;
@tailwind components;
@tailwind utilities;

input:disabled {

    cursor: not-allowed;
    opacity: .6;
    
    
}

.navlink{
    padding: 10px 20px;
    color:white
}
.navlink.active{
    background-color: white;
    
    color:violet;
    border-radius: 10px;
    
}